audioread == 2.1.9
chainer == 7.8.1
ffmpeg == 1.4
h5py == 3.6.0
joblib == 1.1.0
keras == 2.8.0
librosa == 0.9.1
numba == 0.55.1
numpy == 1.20.3
pandas == 1.4.1
playsound == 1.2.2
pydub == 0.25.1
reportlab == 3.6.9
scikit-learn == 1.0.2
scipy == 1.8.0
seaborn == 0.11.2
SoundFile == 0.10.3
spectrum == 0.8.1
tensorflow == 2.8.0
tqdm == 4.64.0
wavfile == 3.1.1